<html>
<head>
    <script src="/static/app.js" language="JavaScript"></script>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Lab5</title>
</head>
<body>
    <h1>
        Welcome to the game!
    </h1>
    <h3>Choose your level</h3>
    <a href="/game/9">Easy</a><br>
    <a href="/game/49">Medium</a><br>
    <a href="/game/99">Hard</a><br>
    <div id="randname">
        Get random name:
        <span id="spanName">Name</span>
        <button type="button" id="cmdAliveNodesUpdate" onclick='getRandomName("spanName")'>New!</button>
    </div>
</body>
</html>